<form method="post" action="{{ path('commande_delete', {'id': commande.id}) }}"
      onsubmit="return confirm('Etes-vous sure?');"
      style="display: inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
    <button class="btn btn-danger">
        {% if button_label == true %}
            Supprimer
        {% else %}
            <i class="fas fa-minus-circle"></i>
        {% endif %}
    </button>
</form>
