{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Client</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
