{% extends 'base.html.twig' %}

{% block title %}Nouveau Categorie{% endblock %}

{% block body %}
    <h1>Creer un Nouveau Categorie</h1>

    {{ include('categorie/_form.html.twig') }}
{% endblock %}
